<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Hello Rocket</title>
</head>

<body>
    <ul>
        {{#each this}} {{#if this.audio}}
        <li>
            <a href="/audio/{{this.name}}">
                {{this.name}}
            </a>
        </li>
        {{/if}} {{#if this.video}}
        <li>
            <a href="/video/{{this.name}}">
                {{this.name}}
            </a>
        </li>
        {{/if}} {{#if this.other}}
        <li>
            <a href="/file/{{this.name}}">
                {{this.name}}
            </a>
        </li>
        {{/if}} {{/each}}
    </ul>
</body>

</html>